@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap');
:root {
  /* --max-width: 1100px; */
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-heading: 'Baloo Bhaijaan 2', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --primary: #0165b1;
  --primary-100: #0165b1;
  --primary-200: #1a1658;
  --primary-300: #101039;
  --secondary-100: #85d4cf;
  --secondary-200: #c7ebff;
  --accent: #f7a331;
  --accent-100: #f7a331;
  --foreground: #050515;
  --foreground-100: #050515;
  --foreground-200: #000000;
  --background: #fdfdfd;
  --background-100: #fdfdfd;
  --background-200: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  overflow-x: hidden;
}

body {
  color: var(--primary-300);
  background: var(--secondary-200);
  /* background: var(--secondary-200); */
}

a {
  color: inherit;
  text-decoration: none;
}

/* h1 {
  font-size: 6.25rem;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
} */

button {
  all: unset;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
}
.body-100 {
  font-size: 1.125rem;
  line-height: 1.5;
}
.body-200 {
  font-size: 1rem;
  line-height: 1.5;
}
.body-300 {
  font-size: 0.875rem;
  line-height: 1.5;
}

.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}
