.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

/* selector for section next to another section */
.main section + section {
  /* padding-top: 10rem; */
  padding: 10rem 2rem 0 2rem;
}

.contact {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 9999px;
  background: var(--accent);
  color: var(--foreground);
  text-transform: capitalize;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: rgba(255, 255, 255);
  height: 4rem;
  padding: 0 2rem;
}

.hero {
  padding: 4rem;
}
.heroContent {
  text-align: center;
}

.overline {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: 600;
}

.heroHeading {
  font-family: var(--font-heading);
  color: var(--primary-200);
  font-size: 6.25rem;
  line-height: 1;
  font-weight: 900;
  margin-top: 0.5rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.h2 {
  font-family: var(--font-heading);
  font-size: 3rem;
  font-weight: 700;
}

.sectionTwo {
  background: var(--primary-300);
  color: var(--background);
  width: 100%;
}
.sectionContainer {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
.headingContainer > .overline {
  color: var(--accent);
}
.headingContainer {
  margin-bottom: 1rem;
}
.headingContainer > p + p {
  margin-top: 0.5rem;
}
.paragraphContainer {
  margin-bottom: 1rem;
}
.paragraphContainer > p + p {
  margin-top: 1rem;
}
.paragraphContainer > p {
  font-size: 1.125rem;
}

.bold {
  font-weight: 700;
}
.contactBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}
.contactText {
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}
.sectionSpacer {
  position: relative;
  width: 100%;
  background: var(--primary-300);
}
.spacerParagraphText {
  color: var(--accent);
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 700;
  height: 210px;
  text-align: center;
  width: 100%;
}
.squiggle {
  position: absolute;
  bottom: -75px;
  left: 0;
}

.yellowSticker {
  border-radius: 9999px;
  width: 350px;
  height: auto;
  position: absolute;
  bottom: -120px;
  left: 1rem;
}
.heroSection {
  position: relative;
  min-height: 1040px;
  background-image: url('./assets/Herobackground.png');
  background-position-x: center;
  /* background-position-y: bottom; */
  /* background-size: auto; */
  /* background-position: contain; */
  /* background-size: cover; */
  background-repeat: no-repeat;
  height: 100%;

  /* height: 100%; */
  width: 100%;
}

.serviceList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.serviceItem {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.serviceItemIcon {
}
.serviceItemTextContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.serviceItemTitle {
  font-size: 1.5rem;
  font-weight: 700;
}
.serviceItemDescription {
  font-size: 1rem;
}
.spacer {
  margin: 2rem 0;
  font-size: 1.125rem;
}

.productList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.productItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 0 1 200px;
}
.productImage {
  width: auto;
  height: auto;
}
.productDescription {
  font-weight: 700;
  font-size: 1.125rem;
}

.sectionThree {
  width: 100%;
  background-image: url('./assets/Grassbackground.png');
  position: relative;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.calloutBox {
  background: var(--primary-300);
  padding: 5rem 3.75rem;
  max-width: 900px;
  color: var(--background);
  margin-bottom: 140px;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.calloutSpacer {
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 500px;
}
.calloutSpacer > p + p {
  margin-top: 1rem;
}

.h3 {
  font-size: 2rem;
  font-weight: 700;
}

.floatingLugghead {
  position: absolute;
  bottom: 0;
  right: -32px;
}

.contactBoxThree {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  max-width: 500px;
}
.contactText {
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0;
  z-index: 10;
  animation: overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.formRoot {
  background-color: #f8fafc;
  border-radius: 1rem;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: 600px;
  width: calc(100% - 80px);
  height: 500px;
  padding-right: 40px;
  padding-left: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: content-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 300;
}

.fieldset {
  all: unset;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.fieldsetLabel {
  text-align: right;
  width: 120px;
}
.fieldsetLabelTextArea {
  text-align: right;
  width: 120px;
  align-self: start;
  padding-top: 10px;
}

.fieldsetInput {
  all: unset;
  min-width: 120px;
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--primary-100);
  height: 35px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
}
.fieldsetInputTextArea {
  all: unset;
  min-width: 120px;
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--primary-100);
  height: 35px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  height: 150px;
  line-height: 1.5;
  padding-top: 8px;
  padding-bottom: 8px;
}

.fieldsetInput:focus {
  box-shadow: 0 0 0 2px var(--primary-100);
}
.fieldsetInputTextArea:focus {
  box-shadow: 0 0 0 2px var(--primary-100);
}

.fieldsetInput[data-valid='false'] {
  box-shadow: 0 0 0 2px #e11d48;
}

.submitButton {
  all: unset;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 9999px;
  background: var(--accent);
  color: var(--foreground);
  text-transform: capitalize;
  padding: 0.5rem 2rem;
  cursor: pointer;
}
.submitButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.footer {
  width: 100%;
  background: var(--background);
  padding-bottom: 2rem;
}
.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
.footerImage {
}
.footerEmail {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.footerButton {
}
.copywrite {
  font-size: 0.8rem;
  margin-right: auto;
  margin-left: auto;
  width: max-content;
  /* color: var(--primary-500); */
}

@keyframes overlay-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes content-show {
  0% {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-transform: translate(-50%, -48%) scale(0.96);
    transform: translate(-50%, -48%) scale(0.96);
  }
  100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
  }
}

@media (max-width: 700px) {
  .hero {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .h2 {
    font-size: 2rem;
  }

  .overline {
    font-size: 0.7rem;
  }
  .paragraphContainer > p {
    font-size: 1rem;
  }
  .contactText {
    font-size: 1rem;
  }
  .spacer {
    font-size: 1rem;
  }
  .productDescription {
    font-size: 1rem;
  }
  .productItem {
    flex: 1 1 120px;
  }
  .calloutBox {
    padding: 3.75rem 2rem;
  }
}

@media (max-width: 840px) {
  .footerContent {
    flex-direction: column;
    gap: 2rem;
  }
  .yellowSticker {
    display: none;
  }
}
@media (max-width: 1100px) {
  .heroHeading {
    font-size: 4rem;
    max-width: 640px;
  }
}

@media (max-width: 1400px) {
  .floatingLugghead {
    display: none;
  }
  .calloutSpacer {
    max-width: 100%;
  }
  .contactBoxThree {
    max-width: 100%;
  }
}
